.s1
{
    color: rgb(231, 70, 231);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    
}

.s2
{
    color: rgb(231, 54, 54);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    
}

.s3
{
    color: rgb(51, 51, 236);
    font-size: 30px;
    font-weight: 900;
    text-align:left;
    
}

.s4
{
    color: rgb(129, 20, 20);
    font-size: 30px;
    font-weight: 900;
    text-align:left;
    
}